<!DOCTYPE html>
<html>
<head>
    <title>Angular Layout - Demo</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./dist/angular-layout.min.css"/>
    <link rel="stylesheet" href="./dist/angular-layout-debug.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
        .page-header {
            padding: 20px;
        }
    </style>
</head>

<body ng-app="app">

<div class="page-header" ng-controller="MainController">
        <h1>Angular-Layout Demo Page</h1>

    <input id="debugMode" type="checkbox" ng-model="debug" ng-click="toggleDebug()"></input>
    <label for="debugMode">Debug Mode</label>
</div>
<vbox align="center" debugLabel="Vbox align:center">
    <hbox debugLabel="Hbox justify:space-around align=:center vbox-sm vbox-xs" vbox-sm vbox-xs style="width:80%"
          justify="space-around" align="center">
        <vbox debugLabel="Vbox">
            <h3>Container Directive</h3>
            <vbox>

            </vbox>
        </vbox>
        <glue></glue>
        <vbox>
            <h3>Items Directive</h3>
        </vbox>
    </hbox>
    <img src="http://placehold.it/80x80/C5AAF5&text=1"/>
    <img src="http://placehold.it/80x80/A3CBF1&text=2"/>
    <hbox gap="10" align="center">
        <img src="http://placehold.it/80x80/79BFA1&text=3"/>
        <img src="http://placehold.it/80x80/F5A352&text=4"/>
        <vbox>
            <img src="http://placehold.it/80x80/FB7374&text=5"/>
            <solid size="40px"></solid>
            <img src="http://placehold.it/80x80/423C40&text=6"/>
        </vbox>
    </hbox>
</vbox>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="./dist/angular-layout.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
    var app = angular.module('app', ['angular.layout']);
    app.controller('MainController', function($scope){
        $scope.toggleDebug = function(){
            if($scope.debug===true){
                $(".flexbox").removeClass("flexboxDebug");
            }else{
                $(".flexbox").addClass("flexboxDebug");
            }
            $scope.debug=!$scope.debug;
        }
    });
</script>

</body>
</html>